@using EPiServer.Shell.Navigation
@using EPiServer.Shell.Web.Mvc.Html
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Synonyms manager</title>
    <link rel="stylesheet" href="/synonyms/plugin-styleguide.css" />
    <style>
        #graph-synonyms-app table {
            min-width: 500px;
        }

        #graph-synonyms-app .ps-button {
            flex: 0 0 auto;
            width: auto;
            white-space: nowrap;
        }
    </style>

    @Html.ShellCssLink("ClientResources/epi/themes/sleek/sleek2.css")
</head>
<body>
    @Html.AntiForgeryToken()
    @Html.CreatePlatformNavigationMenu()
    <div @Html.ApplyPlatformNavigation()>
      <div id="graph-synonyms-app"></div>
    </div>
 
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="/synonyms/graph-synonyms.js"></script>
</body>
</html>
